* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: url('imagenes/test4.gif') no-repeat;
   background-size: cover;
   font-family: 'Century Gothic', sans-serif;
}

.box {
  width: 500px;
  background: rgba(0, 0, 0, .4);
  margin: 0 auto;
  margin-top: 4%;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.box-img {
  border-radius: 50%;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 30px 0 20px
}

.box h2 {
 font-size: 20px;
 font-weight: 100;
 margin-bottom: 20px;
}

.box p {
  text-align: justify;
}

.box ul {
  list-style: none;
  margin-top: 20px;
}

.box ul li {
   display: inline-block;
}

.box ul li a {
color: white;
font-size: 45px;
padding: 10px 5px;
display: block;
transition: all 0.5s ease-in-out;
}

.box ul li a:hover {
  color: red;
  transform: scale(1.1);
}

.box p a {
color: white;
text-decoration: none;
}

.box p a:hover {
border-bottom: 1px solid #FFF;
}
